@import url(variable.css);

*{
    font-family: var(--font-poppins);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Navbar*/
.navbar{
    padding: 3rem 5rem;
    font-weight: 500;
}

.navbar-nav{
    gap: 70px;
}

.nav-link {
    position: relative;
    color: var(--color-5);
    font-size: 1.1vw;
    transition: color 0.4s cubic-bezier(0.25, 0.1, 0.25, 1); 
}

.nav-link::before {
    content: '';
    position: absolute;
    bottom: 0%;
    left: 0px;
    width: 100%;
    height: 1px;
    background: var(--color-1);
    display: block;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: transform 0.4s cubic-bezier(0.25, 0.1, 0.25, 1); 
}

.nav-link:hover::before {
    transform-origin: left top;
    transform: scale(1, 1);
}

.nav-link:hover {
    color: var(--color-1); 
}
  
/*Hero*/
.container-hero {
    position: relative;
    height: 65vh;

}

.text-hero{
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 3.5rem;
    padding-left: 7.5rem;
    z-index: 2;
    margin-bottom: 150px;
}

.title-hero{
    max-width: 450px;
}

.img-hero {
    position: absolute; /* Permite que la imagen se posicione en relación a su contenedor */
    top: 0; /* Ajusta la posición vertical */
    left: 42%; /* Centra horizontalmente el contenedor de la imagen */
    transform: translate(-50%,50%); /* Ajusta la posición para que esté centrada */
    width: auto; /* Permite que la imagen mantenga su tamaño original */
    height: auto; /* Mantiene la proporción de la imagen */
    z-index: 1; /* Coloca la imagen detrás del texto */
}

.img-hero img {
    max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
    width: 350px;
    height: auto; /* Mantiene la proporción de la imagen */
}

.linea {
    width: 80%;
    height: 2px; 
    background-color: var(--color-2);
    margin: 0 auto;
}

.desc-hero{
    display: flex;
    flex-direction: column;
    max-width: 370px;
    gap: 35px;
    margin-right: 100px;
}

.h2-hero{
    font-size: 2.5vw;
    font-weight: bolder;
    font-family: var(--font-cygroyesk);
    color: var(--color-2);
}

.p-hero{
    font-size: 1.4vw;
    font-weight: 250;
    font-family: var(--font-nunito);
    line-height: 22px;
    color: var(--color-2);
}

.h1-hero{
    font-size: 7vw;
    font-family: var(--font-cygroyesk);
    color: var(--color-2);
    line-height: 85px;
    margin-left: 20px;
}


.boton-1{
    width: 210px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: var(--font-nunito);
    color: var(--color-4);
    background-color: var(--color-1);
    text-decoration: none;
    border-radius: 30px;
    transition: all 0.2s ease-in-out;
    font-size: 20px;
    font-weight: bold;
    line-height: 0;
}

.boton-1:hover{
    background-color: #4cbca7;
}

/*Sobre mi*/
.container-sm{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 16rem 13rem 8rem;
}

.img-sm{
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  
  @keyframes floating {
    0% {
      transform: translate(0, 0px);
    }
    50% {
      transform: translate(0, 10px);
    }
    100% {
      transform: translate(0, -0px);
    }
}

.img-sm img{
    width: 600px;
    margin: 0 auto;
}

.capatext-sm{
    min-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.title-sm{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.ico-titulo-sm{
    width: 30px;
    margin-right: 10px;
}

.h2-sm{
    margin: 0;
    font-family: var(--font-cygroyesk);
    font-weight: bolder;
    color: var(--color-2);
}

.descp-sm{
    font-size: 1.1vw;
    font-weight: 250;
    font-family: var(--font-nunito);
    line-height: 22px;
    margin: 0;
    color: var(--color-2);
}

.line-sm{
    width: 100%;
    height: 2px; 
    background-color: var(--color-2);
}

.link-sm{
    display: flex;
    gap: 10px;
    text-decoration: none;
    color: var(--color-1);
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    font-family: var(--font-nunito);
    margin: 0;
}

.link-sm {
    display: flex;
    gap: 10px;
    text-decoration: none;
    color: var(--color-1);
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    font-family: var(--font-nunito);
    line-height: 0px;
    transition: all 0.2s ease-in-out;
    margin-bottom: 30px;
}

.link-sm:hover{
    transform: translate(1%);
}

.action-sm{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-copyemail{
    width: 77%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    background-color: var(--color-3);
    border-radius: 25px;
}

/* Modal para mensajes */
.notification {
    height: 45px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    border-radius: 5px;
    color: white;
    z-index: 1000;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.notification.success {
    background-color: #54b6a4;
}

.notification.error {
    background-color: rgb(246, 117, 117);
}

.notification.show {
    opacity: 1;
    transform: translateY(0);
}

.input-email{
    width: 75%;
    background-color: transparent;
    outline: none;
    border: none;
    color: var(--color-4);
    font-family: var(--font-nunito);
    font-size: 19px;
    font-weight: 600;
}

.input-email:focus {
    outline: none;
}

.c-btn-git{
    height: 60px;
}

.btn-git{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    color: var(--color-1);
    font-family: var(--font-nunito);
    transition: all 0.2s ease-in-out;
}

.btn-git:hover{
    transform: translateY(-5%);
}

.btn-copy{
    background-color: transparent;
    border: none;
}

/*Proyectos*/
.container-p{
    height: 100vh;
    padding: 2rem 10rem 5rem;
}

.titulo-p{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-bottom: 30px;
}

.h2-p{
    font-family: var(--font-cygroyesk);
    font-size:4vw;
    color: var(--color-2);
}

.proyectos{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 70px;
}

.proyecto{
    width: 250px;
}

.img-proyecto img{
    width: 100%;
    height: 270px
}

.titulo-proyecto{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: var(--color-2);
    margin-top: 10px;
}

.h3-p{
    width: 70%;
    font-family: var(--font-nunito);
    font-size: 26px;
    font-weight: 700;
}

.titulo-proyecto svg{
    width: 10%;
    height: 24px;
}   

.desp-proyecto{
    width: 100%;
    margin-top: 15px;
}

.parrafo-p{
    font-family: var(--font-nunito);
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 0.5rem;
    color: var(--color-2);
}

.parrafo-p strong{
    font-family: var(--font-nunito);
    font-weight: bold;
    color: var(--color-1);
}

.actions-p{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}

.btn-p{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 30px;
    text-decoration: none;
    color: var(--color-4);
    background-color: var(--color-1);
    border-radius: 15px;
    text-align: center;
    transition: all 0.2s ease-in-out;
}

.btn-p:hover{
    background-color: #4cbca7;
}

/*Formacion*/
.container-f{
    height: 100vh;
    padding: 5rem 10rem 5rem;
}

.header-f{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 40px;
}

.titulo-f{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.h2-f{
    font-family: var(--font-cygroyesk);
    font-size: 3vw;
    color: var(--color-2);
}

.line-f{
    height: 2px;
    width: 70%;
    background-color: var(--color-2);
}

.body-f{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.formaciones{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

.formacion{
    width: 87%;
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.flecha-f{
    width: 25px;
    padding-top: 5px;
}


.img-f{
    width: 40%;
}

.img-f img{
    width: 100%;
}

.h3-f{
    font-family: var(--font-nunito);
    color: var(--color-2);
}

.dateplace-f{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    gap: 12px;
}

.ico-f{
    width: 18px;
}

.dateplace-f p{
    margin-bottom: 0;
    font-family: var(--font-nunito);
    font-size: 18px;
    color: var(--color-3);
}

.descp-f{
    font-family: var(--font-nunito);
    font-size: 18px;
    font-weight: lighter;
    color: var(--color-3);
    margin-top: 2.5px;
    margin-bottom: 20px;
}

.link-f{
    text-decoration: none;
    color: var(--color-1);
    font-size: 18px;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
}

.link-f:hover{
    color: #4cbca7;
}

/*Contacto*/
.container-c{
    height: 100vh;
    padding: 3rem 7.5rem 5rem;
    display: flex;
    justify-content: space-between;
}

.title-c {
    position: relative; /* Necesario para que los elementos hijos con posición absoluta se ubiquen dentro de este contenedor */
}
  
.h2-c {
    max-width: 300px;
    position: relative; /* Asegura que el texto esté por encima de la imagen */
    z-index: 2; 
    color: var(--color-2); 
    font-family: var(--font-cygroyesk);
    font-size: 4.5vw;
}

.grafico-c {
  position: absolute; 
  top: 250px; 
  left: 20px; 
  width: 150%; 
  height: auto; 
  z-index: 1; 
}

.contacto {
    display: flex; 
    flex-direction: column; 
    justify-content: flex-end;
    align-items: end;
    height: 100%; 
}

.h3-c{
    font-family: var(--font-cygroyesk);
    font-weight: bolder;
    font-size: 40px;
    margin-top: 15px;
}

.descp-c{
    width: 100%;
    margin-bottom: 20px;
}

.descp-c p{
    font-family: var(--font-nunito);
    font-size: 18px;
    margin-bottom: 2px;
}

.redessociales{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.ico-c{
    transition: all 0.2s ease-in-out;
}

.ico-c:hover{
    transform: translateY(-5%);
}

/*Pagina de Contacto*/
.text-c{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.h1-c{
    text-align: center;
    font-size: 3vw;
    font-family: var(--font-cygroyesk);
    font-weight: bold;
}

.actions-c{
    max-width: 800px;
    margin: 30px auto;
}

.btn-c{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.btn-c a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 60px;
    text-decoration: none;
    color: var(--color-1);
    font-family: var(--font-nunito);
    font-size: 1.25vw;
    border: solid var(--color-1) 4px;
    border-radius: 30px;
    font-weight: bold;
}

.form-c{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.inputs{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.inputs input{
    width: 300px;
    height: 60px;
    font-family: var(--font-nunito);
    font-size: 1.1vw;
    border: solid var(--color-2) 1px;
    border-radius: 30px;
    padding-left: 35px;
}

.textarea-c{
    width: 87%;
    height: 150px;
    padding-left: 35px;
    padding-top: 15px;
    border: solid var(--color-2) 1px;
    border-radius: 30px;
    font-family: var(--font-nunito);
    font-size: 1.1vw;
    resize: none;
}

.btn-enviar{
    width: 120px;
    height: 40px;
    font-family: var(--font-nunito);
    font-weight: bold;
    color: var(--color-4);
    border: none;
    background-color: var(--color-1);
    border-radius: 20px;
    transition: all 0.2s ease-in-out;
}

.btn-enviar:hover{
    background-color: #4cbca7;
}

/*Responsive*/
@media screen and (max-width: 800px) {

    .navbar{
        padding: 3rem 2rem;
    }

    .nav-link{
        font-size: 4vw;
    }

    .navbar-nav{
        gap: 30px;
    }
    
    .navbar-brand img{
        width: 100px;
    }

    .navbar-collapse{
        margin-top: 15px;
    }

    .navbar-toggler{
        border: none;
    }

    .navbar-toggler svg{
        color: var(--color-5);
    }

    .text-hero{
        flex-direction: column;
        justify-content: center;
        gap: 50px;
        padding-right: 0;
        padding-left: 0;
        margin-bottom: 80px;
    }

    .title-hero{
        margin-bottom: 10px;
    }

    .desc-hero{
        align-items: center;
        max-width: 250px;
        gap: 10px;
        margin-right: 0;
    }

    .h2-hero{
        font-size: 5.5vw;
        text-align: center;
    }
    
    .p-hero{
        font-size: 5vw;
        text-align: center;
    }
    
    .h1-hero{
        font-size: 12vw;
        text-align: center;
        line-height: 50px;
    }
    
    .img-hero {
        top: 4%; /* Ajusta la posición vertical */
        left: 78%; /* Centra horizontalmente el contenedor de la imagen */
        transform: translate(-50%,50%); /* Ajusta la posición para que esté centrada */
    }
    
    .container-sm{
        flex-direction: column;
        padding: 9rem 2rem 5rem;
        align-items: normal;
        gap: 70px;
    }
    
    .img-sm img {
        width: 300px;
    }

    .capatext-sm {
        min-width: 0px;
    }

    .descp-sm {
        font-size: 5vw;
    }

    .btn-copyemail {
        height: 50px;
    }

    .container-p {
        height: auto;
        padding: 1.5rem 0rem 5rem;
    }

    .titulo-p {
        gap: 20px;
    }

    .h2-p {
        font-size: 8vw;
    }

    .proyectos {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 70px;
    }

    .container-f{
        height: auto;
        padding: 3rem 2rem 5rem;
    }

    .header-f{
        flex-direction: column;
        gap: 10px;
    }

    .h2-f{
        font-size: 8vw;
    }

    .line-f {
        width: 100%;
    }
    
    .img-f{
        display: none;
    }

    .body-f{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 50px;
    }

    .formaciones {
        width: 100%;
    }

    .dateplace-f {
        flex-direction: column;
        align-items: flex-start;
    }

    .date-f{
        color: var(--color-1);
    }

    .ico-f{
        display: none;
    }

    .container-c{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0rem 2rem 5rem;
        gap: 115px;
    }

    .h2-c{
        max-width: 230px;
        font-size: 10vw;
    }

    .grafico-c {
        top: 120px;
        left: 50px;
        width: 70%;
    }

    .contacto{
        width: fit-content;
    }

    .h3-c{
        font-size: 8.5vw;
    }

    .text-c{
        gap: 10px;
    }

    .h1-c{
        font-size: 6vw;
    }

    .btn-c {
        gap: 20px;
    }

    .btn-c a {
        width: 150px;
        height: 50px;
        font-size: 3vw;
    }

    .inputs{
        flex-direction: column;
        gap: 20px;
    }

    .inputs input {
        font-size: 4vw;
    }

    .textarea-c{
        font-size: 4vw;
        padding-left: 27px;
        padding-right: 27px;
    }
}