<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto  -  Alois D'Alto</title>
    <link rel="shortcut icon" href="../img/icono.png" type="image/x-icon">
    <link rel="stylesheet" href="../Bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/style-index.css">
</head>
<body>
    <!--Barra de navegación-->
    <nav class="navbar navbar-expand-md navbar-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="../img/alois.png" alt="Logo de la empresa" width="100">
        </a>
        <div class="navbar-nav ms-auto">
          <a class="nav-link" href="../index.html">Inicio</a>
        </div>
      </div>
    </nav>

    <section class="container">
        <div class="text-c">
            <img src="../img/grafico2.png" alt="Grafico Contacto" width="40">
            <h1 class="h1-c">NO TIENES QUE BUSCAR MUCHO ¡CONSTRUYAMOS ALGO INOLVIDABLE!</h1>
            <img src="../img/grafico2.png" alt="Grafico Contacto" width="40">
        </div>
        <div class="actions-c">
            <div class="btn-c">
                <a href="mailto:aloisdalto@gmail.com">CORREO ELECTRÓNICO</a>
                <a href="#">LINKEDIN</a>
            </div>
            <form class="form-c">
                <div class="inputs">
                    <input type="text" placeholder="Nombre">
                    <input type="email" placeholder="Email">
                </div>
                <textarea class="textarea-c" placeholder="Hola Alois, he estado pensando en algo que necesita tu talento..."></textarea>
                <input type="submit" value="ENVIAR" class="btn-enviar">
            </form>
        </div>
    </section>

    <script src="../Bootstrap/js/bootstrap.min.js"></script>
</body>
</html>